<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LDWordProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <nlog>
    <variable name="fmt" value="[${date:format=HH\:mm\:ss}][${callsite}][${level}][${message}]"/>
    <variable name="logDirectory" value="${basedir}/logs"/>
    <targets>
      <target name="file" type="File" fileName="${logDirectory}/${shortdate}.log" layout="${fmt}"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="file"/>
    </rules>
  </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <userSettings>
    <LDWordProcessor.Properties.Settings>
      <setting name="TTSName" serializeAs="String">
        <value>Vaja Nok (Th-En) 32TE</value>
      </setting>
    </LDWordProcessor.Properties.Settings>
  </userSettings>
</configuration>
